@page "/"

<PageTitle>Home</PageTitle>

<h1>Med mål om bedre klima</h1>

<div style="width: 643px;">
Ved tørkeperioder ønsker vandværker over hele landet at opfordrer danskerne til at spare på vandet, 
fordi tørken og den manglede regn udsulter vandforsyningen. Selvom der er nok drikkevand i Danmark, 
er der grænser for, hvor meget vandværker kan og må indvinde. Derfor indføre flere vandværker 
restriktioner ved tørke på eksempelvis havevanding, og hvilke dage der må vandes. I stedet for 
skal vi bruges vores drikkevand på det mest nødvendige. Men hvor meget vand bruger vi egentlig på 
eksempelvis at tage et bad og vande græsset? Vandværker er gået sammen om at lave en oplysningskampagne, 
for at få befolkningen til at bruge mindre vand når der er tørke.
</div>
<br>
<img src="DrinkingWater.png" />